p, li, h1 { /*selector de elemento */
     color: blue;
     width: 500px;
     border: 1px solid black;
     font-family: 'Open Sans Condensed', sans-serif;
}

#niveles { /* selector de identidad */
    background-color: rgb(0, 255, 234);
    padding: 10px 30px;
    border: 1px dashed  blue;
    margin: 0 auto;
}

.diferente { /* selector de clase */
     color: red; 
     border: 2px solid blue;
}

#niveles:hover{
    color: purple;
    background-color: black;
}